@model Carrinho.Models.Produto

@{
    ViewBag.Title = "Create";
}
<script>
    angular.module("carrinhoApp").controller("produtoCreateController", function ($scope,$http) {
        $scope.produto = { nome: '', descricao: '', preco: 0.0 };
        console.log($scope.produto);
        $scope.onClickAdd = function (produto) {
            console.log(produto.nome);
            console.log(produto.descricao);
            console.log(produto.preco);

            //Operações no client side
            //....
            //Manipulação e mais validações de dados.
            $http.post("/Produto/Create", produto).success(function (data) {
                delete $scope.contato;
                $scope.contatoForm.$setPristine();
            });
        }
    });
</script>

<div ng-controller="produtoCreateController">
    <h2>Create</h2>
    {{produto}}
    <form class="ng-dirty ng-valid" name="produtoForm">
        <input class="form-control" name="nome" type="text" ng-model="produto.nome" placeholder="Nome" ng-required="true" ng-minlength="5" />
        <br />
        <input class="form-control" type="text" name="descricao" ng-model="produto.descricao" placeholder="Descrição" ng-required="true" ng-minlength="5" />
        <br />
        <input class="form-control" type="number" name="preco" placeholder="Preço" ng-model="produto.preco" ng-required="true" />
    </form>
    <br />
    <div ng-show="produtoForm.nome.$error.required && produtoForm.nome.$dirty" class="alert alert-danger">
        Por favor, preencha o campo Nome!
    </div>
    <div ng-show="produtoForm.nome.$error.minlength && produtoForm.nome.$dirty" class="alert alert-danger">
        O campo 'Nome' deve ter no minimo 5 caracteres.
    </div>
    <br />
    <button class="btn btn-primary"  ng-click="onClickAdd(produto)">Adicionar Contato</button>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
